body{
    margin:0;
    padding: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;    
}
header{
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    box-shadow: 2px 2px 30px rgba( 167, 158, 245, 0.2);
    position: absolute;
    display: flex;
    align-items: center;justify-content: space-between;
    background-color: #FFFFFF;
}
.logo{
    margin-left: 120px;
    margin-top: 5px;
}
.logo img{
    height: 33px;
}
nav{
    position:relative;
    top: 0;
    right: 120px;
    
}
nav ul {
    list-style: none;
    display: flex;
    list-style: none;
}
nav ul li {
    display: inline-block;
    padding-left: 15px;
    font-size: 11px;
    font-weight: 500;
    font-family: popines;
    padding-top: 5px;
    position: relative;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding-left: 15px;
    
}
nav ul li:hover a{
    display: block;
    color: rgb(76, 197, 197);
    transition: all ease 0.5s;
}
nav ul li .fa-solid{
    size: 1px;
    margin: 0px;
    padding: 2px;
}
.dropdown_manu{
    display:none;
    position: absolute;
    margin-left: -15px;
    margin-top: 0px;
}
.dropdown_manu ul{
    margin-left: -80px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 100px;
    padding-bottom: 15px;
    padding-top: 10px;
    display: block;
    margin-top: 35px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba( 167, 158, 245, 0.2);
}
.dropdown_manu ul li{
    display: flex;
    width: 80px;
    padding: 10px;
}
nav ul li .dropdown_manu ul a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
nav ul li:hover .dropdown_manu{
    display: block;
}
nav ul li .dropdown_manu ul :hover a{
     display: block;
    color: rgb(76, 197, 197);
    transition: all ease 0.5s;
}
.dropdown_manu2{
    display:none;
    position: absolute;
    margin-left: -15px;
    margin-top: 0px;
}
.dropdown_manu2 ul{
    margin-left: -80px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 17px;
    padding-bottom: 15px;
    padding-top: 10px;
    display: block;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba( 167, 158, 245, 0.2);
}
.dropdown_manu2 ul li{
    display: flex;
    width: 157px;
    padding: 10px;
}
nav ul li .dropdown_manu2 ul a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
nav ul li:hover .dropdown_manu2{
    display: block;
}
nav ul li .dropdown_manu2 ul :hover a{
     display: block;
    color: rgb(76, 197, 197);
    transition: all ease 0.5s;
}
nav ul li .dropdown_manu2 .la .fa-solid {
    padding-left: 92px;
    font-size: 12px;  
}

.dropdown_manu3{
    display:none;
    position: absolute;
    margin-left: 0px;
    margin-top: -10px;
}
.dropdown_manu3 ul{
    margin-left: -189px;
    margin-right: 18px;
    padding-left: 0px;
    padding-right: 100px;
    padding-bottom: 15px;
    padding-top: 10px;
    display: block;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba( 167, 158, 245, 0.2);
}
.dropdown_manu3 ul li{
    display: flex;
    width: 70px;
    padding: 10px;
}
nav ul li ul .la:hover .dropdown_manu3 a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}
nav ul li ul .la:hover .dropdown_manu3{
    display: block;
}
nav ul li .la .dropdown_manu3 ul li:hover a {
     display: block;
    color: rgb(76, 197, 197);
    transition: all ease 0.5s;
}
/* header end*/

/* section one start*/
section{
    width: 100%;
    height: 750px;
    background-color:#F9F9FF ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .main2{
    width: 50%;
}
.main{
    margin-left: 120px;
}
.main h4{
    font-family: popines;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 200;
   
}
.main h1{
    font-family: popines;
    font-size: 55px;
    font-weight: bolder;
    line-height: ;
    padding: 5px;
    margin: 0;
    padding-left: 0;
    
}
.main p{
    font-size: 14px;
    color: #777;
    line-height: 20px;
    letter-spacing: 1px;
}
button{
    width: 170px;
    height: 45px;
    background-color: #8293FF;
    color: #FFFFFF;
    outline: none;
    font-weight: 700;
    border: none;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    

}
.main2 {
    margin-right: 180px;
    margin-top: 220px;
}

.main2 img{
    height: 600px;
    width: 450px;
   
}