body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    height: 70px;
    box-shadow: 2px 2px 30px rgba( 167, 158, 245, 0.2);
    position: relative;
}
.logo {
      padding: 15px 110px;
}
.logo img {
    height: 40px;
}
nav {
    display: flex; 
    position: absolute;
    top: 0px;
    right: 110px;
    font-weight: 600;
    
}
nav ul {
    list-style: none;
    font-size: 14px;
    padding-top: 10px;
    letter-spacing: 1px;
    border: 20px;
}
nav ul li {
    float: left;
    padding: 5px;
}
nav ul li  ul {
    display: none;
    padding:20px
}
nav ul li:hover > ul{
    display: block;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(68, 65, 65);
}